

@import "variables";
@import "variables";


/* OnePress Plus General CSS
------------------------------*/

/* Video Background */
.video-section {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	background: #222222;
}
.video-section section {
	position: relative;
	z-index: 4;
	background: transparent;
}
.video-section .fill-width {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 3;
  object-fit:cover;

}
.video-section.video-bg {
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.bgimage-alpha, .onepage-section {
		position: relative;
		background-attachment: scroll;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

/* OnePress Plus Section: Map
------------------------------*/
section.section-map:before {
    display: none !important;
}
.gmap_marker {
    padding: 15px;
    h4 {
        font-weight:500;
        margin-bottom: 0px;
    }
    p {
        margin: 10px 0px 0px;
    }
}
.onepress-map {
	display: block;
}
.no-map-api .google-map-notice{
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 10px 15px;
	background: #fff;
	z-index: 35;
	font-size: 12px;
}
.map-address {
	font-weight: bold;
	margin-bottom: 15px;
}

/* OnePress Plus Section: Projects
--------------------------------*/

.spinner {
    animation: 0.8s linear 0s normal none infinite running spin;
    border: 5px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
		&:after{
			    -moz-border-bottom-colors: none;
			    -moz-border-left-colors: none;
			    -moz-border-right-colors: none;
			    -moz-border-top-colors: none;
			    border-color: transparent transparent #fff;
			    border-image: none;
			    border-radius: 50%;
			    border-style: solid;
			    border-width: 3px;
			    bottom: -4px;
			    content: "";
			    left: -4px;
			    position: absolute;
			    right: -4px;
			    top: -4px;
		}
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}


.section-projects {
	.spinner {
			z-index: 35;
	}
}
.project-wrapper {
	font-size: 0;
    max-width: none;
    margin: 0 auto;
    position: relative;
    border-left: 1px solid #e0e0e0;
	.project-item {
		vertical-align: top;
		display: inline-block;
		border-right: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
		-webkit-transition: height 500ms ease;
  		-o-transition: height 500ms ease;
  		transition: height 500ms ease;
	}
	.project-thumb {
      overflow: hidden;
		a {
		  display: block;
		}
		img{
			transition: all 0.2s linear 0s;
			-webkit-transition: all 0.2s linear 0s;
			-o-transition: all 0.2s linear 0s;
			overflow: hidden;
        width: 100%;
			&:hover {
			  transform: scale(1.1);
			}
		}
	}
	.project-header {
		padding: 17px 20px 15px;
		background: $meta;
		.project-small-title {
			margin-bottom: 5px;
			letter-spacing: 0.4px;
		}
		.project-meta {
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-weight: 600;
			color: #AAAAAA;
		}
	}
	.project-trigger {
		cursor: pointer;
	}
}

.project-2-column .project-item{
	width: 50%;
}
.project-3-column .project-item{
	width: 33.333333333333%;
}
.project-4-column .project-item{
	width: 25%;
}
@include for(screens-large) {
	.project-2-column .project-item,
	.project-3-column .project-item,
	.project-4-column .project-item {
		width: 50%;
	}
}
@include for(screens-small) {
	.project-2-column .project-item,
	.project-3-column .project-item,
	.project-4-column .project-item {
		width: 100%;
	}
}

.project-item.active {
	.project-thumb img {
		opacity: 0.6;
		-webkit-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
	}
}

.project-item {
	.project-detail {
		display: none;
	}
	.project-thumb  {
		background: #fff;
	}
}

.project-detail {
	width: 100%;
	position: relative;
	clear: both;
	float: none;
	overflow: hidden;
	margin-top: -1px;
	&::after {
		@include clearfix();
	}
	&.active {
		max-height: 999999999px;
	}
	max-height: 0;
	-webkit-transition: max-height 500ms ease;
	-o-transition: max-height 500ms ease;
	transition: max-height 500ms ease;
	.project-detail-content {
		font-size: 14px;
		padding-top: 10px;
	}
	.project-expander-contents {
		padding: 40px 35px 100px;
		background: $meta;
		border: 1px solid #e0e0e0;
		border-left: none;
		@include for(screens-medium) {
			padding: 40px 20px 60px;
		}
	}
}
.active {
	.project-detail {
		overflow: visible;
	}
}
.project-expander-contents {
	margin: 0 auto;
	position: relative;
	div.close {
		position: absolute;
		left: 50%;
		bottom: 30px;
		margin-left: -16px;
		font-size: 13px;
		text-indent: -9999px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		opacity: 1;
		&:before,&:after {
			position: absolute;
			display: inline-block;
			height: 2px;
			width: 40px;
			background: #000000;
			content: '';
			right: 0px;
			top: 15px;
			cursor: pointer;
		}
		&:before {
			-webkit-transform: translateX(4px) translateY(-1px) rotate(45deg);
	        -moz-transform: translateX(4px) translateY(-1px) rotate(45deg);
	        -ms-transform: translateX(4px) translateY(-1px) rotate(45deg);
	        -o-transform: translateX(4px) translateY(-1px) rotate(45deg);
	        transform: translateX(4px) translateY(-1px) rotate(45deg);
		}
		&:after {
			-webkit-transform: translateX(4px) translateY(0px) rotate(-45deg);
	        -moz-transform: translateX(4px) translateY(0px) rotate(-45deg);
	        -ms-transform: translateX(4px) translateY(0px) rotate(-45deg);
	        -o-transform: translateX(4px) translateY(0px) rotate(-45deg);
	        transform: translateX(4px) translateY(0px) rotate(-45deg);
		}
	}
}

.project-content-inside {
	@include rem('padding-left', 10px);
}
.project-detail-title {
	font-weight: 700;
	letter-spacing: -0.7px;
}

.project-item, .project-wrapper, .section-projects {
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    transition: 200ms ease;
}
.project-item .project-expander{
    visibility: hidden;
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    transition: 200ms ease;
}
.project-item.active .project-expander{
    visibility: visible;
    max-height: initial;
}
.project-item.loading .project-content .project-thumb {
    position: relative;
}
.project-item.loading .project-content .project-thumb:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    z-index: 10;
    background-color: rgba( 0,0,0, .4 );
}
/*
.project-item.loading .project-content .project-thumb:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    z-index: 11;
    background: url("assets/images/loading.gif") center center no-repeat ;
}
*/
.project-media .video-rp{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.project-media .video-rp iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-media:after {
    clear: both; content: " "; display: block;
}

.section-projects.section-inverse {
	.project-wrapper {
		border-left: 1px solid rgba(255, 255, 255, 0.2);
	}
	.project-wrapper .project-item {
		border-color: rgba(255, 255, 255, 0.2);
		.project-header {
			background: #333333;
		}
	}
	.project-detail .project-expander-contents {
		background: #333333;
		border-color: rgba(255, 255, 255, 0.2);
	}
	.project-expander-contents div.close::before, .project-expander-contents div.close::after {
		background: #fff;
	}
}

/* OnePress Plus Section: Pricing
--------------------------------*/
.section-pricing {

}

.section-pricing.section-inverse {
	.pricing__title {
		color: #333333;
	}
	.pricing__feature-list, .pricing__sentense {
		color: $text;
	}
	.pricing__item {
		box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
	}
}

.pricing {

}

.pricing__item {
	background: $meta;
	border: none;
	border-top: 3px solid $meta;
	border-radius: 0px;
	@include rem('padding', 35px 35px);
	position: relative;
	&:hover {
		border-top-color: $primary;
	}
	h1,h2,h3,h4 {
		text-transform: none;
	}
	@include rem('margin-bottom', 30px);
}
.pricing__title {
	letter-spacing: -0.2px;
}
.pricing__price {
	@include rem('padding', 15px 0px 15px);
	@include rem('margin-top', 20px);
	@include rem('font-size', 40px);
	border-top: 3px solid rgba(139, 144, 157, 0.1);
	font-weight: bold;
	font-family: serif,sans-serif;
	color: #333333;
	.pricing__currency {
		font-size: 18px;
		vertical-align: super;
		margin-right: 2px;
	}
}
.pricing__sentense {
	border-bottom: 3px solid rgba(139, 144, 157, 0.1);
    font-weight: bold;
	padding: 0 0 13px;
}
.pricing__feature-list {
    font-style: italic;
    list-style: outside none none;
    margin: 0;
    padding: 0.25em 0 2.5em;
}



/* OnePress Plus Section: Call To Action
--------------------------------*/
.section-cta {
	@include media-breakpoint-down(md) {
		text-align: center;
		.cta-button-area {
			@include rem('margin-top', 20px);
			text-align: center;
		}
	}
}
.cta-heading {
	h1,h2,h3 {
		margin-bottom: 0px;
	}
	h2 {
		@include rem('font-size', 23px);
		margin-top: 3px;
	}
}
.cta-button-area {
	text-align: right;
}

/* Section: Testimonials
------------------------------*/
.section-testimonials {
	.card-block {
		@include rem('padding', 25px);
	}
	.card-text {
		@include rem('font-size', 15px);
	}
	.card-inverse a {
		color: rgba(255, 255, 255, 0.9);
	}
}
.tes_author {
	&:after {
		@extend .clear ;
	}
	position: relative;
	margin-bottom: 25px;
	img {
		max-width: 70px;
		float:left;
		@include border-radius(500px);
		border: 2px solid #FFF;
		margin-right: 15px;
	}
	cite {
		float: left;
		margin-top: 10px;
		font-size: 16px;
		font-weight: bold;
		span {
			font-weight: normal;
			font-size: 13px;
            display: block;
		}
	}
}
.card-inverse {
	.tes_author cite {
		color: rgba(255, 255, 255, 0.9);
		span, a {
			color: rgba(255, 255, 255, 0.65);
		}
	}
}
.card-theme-primary {
	background-color: $primary;
	border-color: $primary;
}

.section-testimonials {
	.card-deck {
		@include rem('margin-bottom', 20px);
	}
	.card-deck-wrapper {
		.card-deck:last-of-type {
			margin-bottom: 0px;
		}
	}
}

/* OnePress Plus Section: Clients
--------------------------------*/
.clients-wrapper {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  justify-content: center;
	margin: -15px;
		&:after{
			@include clearfix();
		}
	box-sizing: inherit;
}
.client-col {
	box-sizing: inherit;
 	align-items: center;
  justify-content: center;
	padding: 15px;
	@include for(screens-medium) {
	 	width: 50% !important;
		&:nth-child(3n+0) {
    	width: 50% !important;
			clear: left;
		}
	}
}
// flex: 0 0 16.6667%;
/*
.client-2-cols .client-col { flex: 0 0 50%; }
.client-3-cols .client-col { flex: 0 0 33.3333%; }
.client-4-cols .client-col { flex: 0 0 25%; }
.client-5-cols .client-col { flex: 0 0 20%; }
.client-6-cols .client-col { flex: 0 0 16.66666%; }
*/

.client-2-cols .client-col { width: 50%; }
.client-3-cols .client-col { width: 33.3333%; }
.client-4-cols .client-col { width: 25%; }
.client-5-cols .client-col { width: 20%; }
.client-6-cols .client-col { width: 16.66666%; }
